<div class="row summary-count-margin-bottom">
    <div class="col-sm">
      <span class="summary-date">Data Last Updated: {{summaryData?.dataUpdateDate}}</span>
    </div>
    <div class="col-sm">
      <span class="summary-date">Data Source: Health Promotion Bureau Sri Lanka(http://hpb.health.gov.lk/)</span>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <h1>Total Cases</h1>
        <div>
            <span class="summary-circle total-color">{{summaryData?.totalCases}}</span>
        </div>        
      </div>
      <div class="col-sm">
        <h1> Active Cases</h1>
        <div>
            <span class="summary-circle active-color">{{summaryData?.activeCases}}</span>
        </div>     
      </div>
      <div class="col-sm">
        <h1> Recovered</h1>
        <div>
            <span class="summary-circle recovered-color">{{summaryData?.recoveredCases}}</span>
        </div>
      </div>
      <div class="col-sm">
        <h1>New Cases</h1>
        <div>
            <span class="summary-circle critical-color">{{summaryData?.newCases}}</span>
        </div> 
      </div>
      <div class="col-sm">
        <h1>Total Deaths</h1>
        <div>                
        <span class="summary-circle death-color">{{summaryData?.totalDeaths}}</span>
        </div>  
      </div>
      <div class="col-sm">
        <h1>Observation</h1>
        <div>                
        <span class="summary-circle observation-color">{{summaryData?.underObservation}}</span>
        </div>  
      </div>
</div>





