<div class="row summary-count-margin-bottom">
    <div class="col-sm">
      <span class="lead">Data Last Updated:</span>
      <span style="margin-left: 2px;">{{summaryData?.dataUpdateDate}} (GMT+5:30)</span>
    </div>
    <div class="col-sm">
      <div><span class="lead">Data Source:</span></div>
      <div><span>Health Promotion Bureau Sri Lanka(http://hpb.health.gov.lk/)</span></div>
      <div><span>Epidemiology Unit, MOH (http://www.epid.gov.lk/)</span></div>
    </div>
</div>
<div class="row">
    <div class="col-sm">
      <div class="card text-white bg-primary mb-3" style="max-width: 11rem;">
        <div class="card-header">Total Cases</div>
        <div class="card-body">
          <h2 class="card-title">{{summaryData?.totalCases}}</h2>
        </div>
      </div>
      </div>      
      <div class="col-sm">
        <div class="card text-white bg-secondary mb-3" style="max-width: 11rem;">
          <div class="card-header">Active Cases</div>
          <div class="card-body">
            <h2 class="card-title">{{summaryData?.activeCases}}</h2>
          </div>
        </div>   
      </div>
      <div class="col-sm">
        <div class="card text-white bg-success mb-3" style="max-width: 11rem;">
          <div class="card-header">Recovered Cases</div>
          <div class="card-body">
            <h2 class="card-title">{{summaryData?.recoveredCases}}</h2>
          </div>
        </div>   
      </div>
      <div class="col-sm">
        <div class="card text-white bg-warning mb-3" style="max-width: 11rem;">
          <div class="card-header">New Cases</div>
          <div class="card-body">
            <h2 class="card-title">{{summaryData?.newCases}}</h2>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-white bg-danger mb-3" style="max-width: 11rem;">
          <div class="card-header">Total Deaths</div>
          <div class="card-body">
            <h2 class="card-title">{{summaryData?.totalDeaths}}</h2>
          </div>
        </div> 
      </div>
      <div class="col-sm">
        <div class="card text-white bg-info mb-3" style="max-width: 11rem;">
          <div class="card-header">Under Observation</div>
          <div class="card-body">
            <h2 class="card-title">{{summaryData?.underObservation}}</h2>
          </div>
        </div> 
      </div>
</div>





