<div class="row">
    <div class="col-sm-12">
        <div><h1 style="text-align: center;">Daily Active Cases vs Recovered Cases</h1></div>        
        <div>
            <app-daily-cases></app-daily-cases>
        </div>        
      </div>     
</div>
<div class="row"  style="margin-bottom: 25px;">
    <div class="col-sm">
        <div><h1>Under Observation Patients Count</h1></div>  
        <div>
            <app-under-observation></app-under-observation>
        </div>     
      </div>
      <div class="col-sm">
        <div><h1>Under Observation Patients By Hospital</h1></div>  
        <div>
            <app-patients-hospital></app-patients-hospital>
        </div>     
      </div>
</div>